* {
font-family: roboto, sans-serif;    


}
:root{
    --primary-default: #072AC8;
    --accent: #43D2FF;
    --primary-hover:#A2D6F9;
    --primary-tapped:#D1EDFF;

    --neutral-dark:#292E47;
    --neutral-medium:#6B708D;
    --neutral-light: #F2F4FC;
    --neutral-light-blue:#ECF7FF;

    --secundary-1:#FFC600;
}

.containter__flex{
    display: flex;
}

button{
    background-color: var(--primary-default);
    color:#fff;
    border:none;
}

h1{ 
    font-size: 60px;
    font-weight: bold;
} h2{
    font-size: 50px bold;
    font-weight: bold;
} h3{
    font-size: 40px bold;
    font-weight: bold;
} h4{
    font-size: 24px bold;
    font-weight: bold;
}

.nav-1{
    margin: 0 100px ;
}

.nav-1 li{
    list-style:none;
    justify-content: center;

}
.nav__container{
    display: flex;
    justify-content: space-between;
}
.menu__container{
    display: flex;
    flex-direction: row;
    gap: 3em;
}

.hero__left{max-width: 50%;}
.hero__right{max-width: 50%;}


.hero__section{
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.hero-img {
    max-width: 600px;
    width: auto;
    /* position: absolute; */
} 
.card-1{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
} 
.card-2{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    right: 0;
}

.sponsors{
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: space-around;
    
}