* {
font-family: roboto, sans-serif;   
background: var(--bg__color);


}
:root{
    --primary-default: #072AC8;
    --accent: #43D2FF;
    --primary-hover:#A2D6F9;
    --primary-tapped:#D1EDFF;

    --neutral-dark:#292E47;
    --neutral-medium:#6B708D;
    --neutral-light: #F2F4FC;
    --neutral-light-blue:#ECF7FF;

    --secundary-1:#FFC600;

    --bg__color: #f4f6fc;
}
#cointainer__flex{
    /* margin: 0 10em 0 10em; */
}

button{
    background-color: var(--primary-default);
    color:#fff;
    border:none;
}

h1{ 
    font-size: 60px;
    font-weight: bold;
} h2{
    font-size: 50px bold;
    font-weight: bold;
} h3{
    font-size: 40px bold;
    font-weight: bold;
} h4{
    font-size: 24px bold;
    font-weight: bold;
}

.BodyIntro_txt-med{
    font-size: 24px;
    font-weight:600;

}

.BodyIntro_txt-reg{
    font-size: 20px;
    font-weight: regular;

}

.HTxt_reg{
    font-size: 17px;
    font-weight: regular;
}

.HTxt_med{
    font-size: 17px;
    font-weight: medium;
}

.Caption-1{
    font-size: 15px;
    font-weight: regular;
}

.Caption-2{
    font-size: 13px;
    font-weight: regular;
}


.nav-1{
    margin: 0 15em;
}

.nav-1 li{
    list-style:none;
    justify-content: center;

}
.nav__container{
    display: flex;
    justify-content: space-between;
}
.menu__container{
    display: flex;
    flex-direction: row;
    gap: 3em;
}

.hero__left{max-width: 50%;}
.hero__right{max-width: 50%;}


.hero__section{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0 15em;
}


.hero-img {
    max-width: 600px;
    width: auto;
    /* position: absolute; */
} 
.card-1{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
} 
.card-2{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    right: 0;
}

.sponsors{
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 15em;
    margin-top: 10em;
}

/* Recent projects*/



  /* Testimonials */


.testimonial__container {  
        /* background: url(../img/orbit-bg.png); */
    /* background-color: #292e47; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "memojis__container-left"
      "memojis__container-mid"
      "memojis__container-right";
    width: 1320em;
    height: 622px;
  }
  
  .memojis__container-left { grid-area: memojis__container-left; }
  
  .memojis__container-mid { grid-area: memojis__container-mid; }
  
  .memojis__container-right { grid-area: memojis__container-right; }
  




.memoji-1,
.memoji-2,
.memoji-3,
.memoji-4
{
    max-width: 150px;
    background: transparent;

}


.memojis__container-left{
    display: flex;
    background: transparent;
    flex-direction: row;
    justify-content: space-around;
    /* flex-basis:33%; */

    /* sub flex */  

    
    
    
    
}
.memojis__container-mid{
    display: flex;
    background: transparent;
    flex-direction: row;
    justify-content: space-around;
    /* flex-basis:33%; */
    /* sub flex */  


    
}





.memojis__container-right{
    display: flex;
    background: transparent;
    flex-direction: row;
    justify-content: space-around;
    /* flex-basis:33%; */
    
    /* sub flex */  



}

.profile__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}



.testimonial__container h3, p, img, a{
    background: transparent;
}

.testimonial__container h3{
    color: #fff;
}
.testimonial__container p{
    color:var(--secundary-1);
}

.project__card-img{
    width: 340px;
    max-width: 340px;
    background: transparent;

}

.services__card{
    box-sizing: border-box;
    width: 340px;
    max-width: 340px;
    /* padding: 260px; */
}
.services_SVG{
    width: 40px;
    max-width: 40px;
    background-color: #ecf7ff;
    border-radius: 180px;
    padding: 15px;
    margin: 40px 0 40px 40px;

}



.projects__container, .services__container{
    display: flex;
    flex-direction: column;
    padding: 0 15em;
    margin-top: 10em;
}

.profile-img{
    max-width: 150px;
    border-radius: 100%;
    background: transparent;
    
}

.card__container{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    gap: 5px;
    /* padding: 0 15em; */

}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .card__holder {
    padding: 2px 16px 40px 16px;
  }

  .cta__section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 18vh 1vh;
  }


  .cta__container{ 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    
    /* display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center; 

    overflow: auto;
    flex-direction: row;*/

    width: 1100px;
    height: 227px;

    text-align: center;

    background-color: var(--secundary-1);
}
.cta__container div, form, h3, p, label{
    background: transparent;
}

.cta__container label{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    padding: 1vh 5vh 1vh 1vh;
}
.cta__container button{
/* display: flex;
flex-direction: row; */
}

button{
    background-color: var(--primary-default);
    color:#fff;
    border:none;
    padding: 1vh;
    margin: 1vh 0 1vh 0;
    border-radius: ;
}

.form__section{
    display: flex;
    flex-direction: row;
}



